@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,500);
body {
  font: 'Oswald', droid-sans, droid-serif;
  background: url("") 50% 50% no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0;
  color:grey;
}
nav {
  background-image:url('');
  position: relative;
  display: inline-block text_decoration: yellow;
}

